.container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  /* max-width: 1280px;
 */
  width: 100%;
  padding: 40px 20px 0 40px;
}

@media (max-width: 767px) {
  .container {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--first-bg-color);
    background-image: 
    /**/ url('../../assets/images/Ellipse1_tabl.png'),
      url('../../assets/images/Ellipse2_tabl.png');

    background-repeat: no-repeat;
    background-position: bottom 0 left 0, top 0 right 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: block;
    padding-top: 20px;
    padding-left: 85px;
    padding-right: 85px;
    background-color: var(--first-bg-color);
    background-image:
      /*url*/ url('../../assets/images/Ellipse1_desk.png'),
      url('../../assets/images/Ellipse2_desk.png');
    background-repeat: no-repeat;
    background-position: bottom 0 left 0, top 0 right 0;
  }
}
/*

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .container {
      background-image:
        url('../../assets/images/Ellipse1_tabl@2x.png'),
        url('../../assets/images/Ellipse2_tabl@2x.png');
    }
  }  
  
  @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .container {
        background-image: url('../../assets/images/Ellipse1_desk@2x.png'),url('../../assets/images/Ellipse2_desk@2x.png');
      }
    }*/
