.loginVerificationModal {
  width: 90%;
}
.loginVerificationModal__input {
  width: 40%;
  border: none;
  border-bottom: 1px solid var(--placeholder-icon-color);
  color: var(--primary-text-color);
  padding: 8px;
  font-family: 'Circe';
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.loginVerificationModal__input::placeholder {
  color: var(--placeholder-icon-color);
  font-family: 'Circe';
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.loginVerificationModal__input:focus,
.loginVerificationModal__input:focus-within {
  outline: transparent;
}
.loginVerificationModal__button {
  display: block;
  border-radius: 20px;
  border-color: transparent;
  background-color: var(--green-color);
  color: var(--secondary-text-color);
  padding: 13px 65px;
  margin: 40px auto 20px auto;
}
@media screen and (min-width: 450px) {
  .loginVerificationModal {
    width: 300px;
  }
}
