.logOutBtn {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnWrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.cancelBtn,
.acceptBtn {
  font-family: var(--primary-font);
  border-radius: 20px;
  padding: 13px 20px;
  box-sizing: border-box;
}
.cancelBtn {
  background: var(--green-color);
  border: none;
  color: var(--secondary-text-color);
}
.acceptBtn {
  background: var(--secondary-text-color);
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}
.cancelBtn:hover,
.cancelBtn:active,
.acceptBtn:hover,
.acceptBtn:active {
  cursor: pointer;
}
@media screen and (min-width: 350px) {
  .btnWrap {
    justify-content: space-around;
  }
}
.btn {
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .logOutBtn {
    margin-left: 10px;
  }
}
