.formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  z-index: 101;
  padding-top: 110px;
  padding-bottom: 110px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .formRegister {
    position: absolute;
    margin: unset;
    width: 540px;
    min-height: 468px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 20px;
    top: 360px;
    right: 114px;
  }
}
@media screen and (min-width: 1280px) {
  .formRegister {
    top: 136px;
    right: 85px;
  }
}
.input {
  position: relative;
  min-width: 280px;
  height: 34px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
  text-indent: 40px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .input {
    width: 409.5px;
    height: 34px;
    display: flex;
    justify-content: center;
  }
}

input::placeholder {
  text-indent: 40px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 10px;
  color: #bdbdbd;
}
.inputTop {
  margin-top: 50px;
}
label {
  position: relative;
  display: flex;
  align-items: center;
}
.input_wrap {
  position: relative;
}
.icon {
  z-index: 99;
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
}

.btn {
  width: 280px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #24cca7;
  border-radius: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  border: 1px solid #24cca7;
  color: #24cca7;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn {
    width: 300px;
    height: 50px;
  }
}

.btn1 {
  margin: 0;
  width: 280px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  color: #4a56e2;
}

.btn1:hover,
.btn1:focus {
  color: #ffffff;
  background-color: #4a56e2;
  border: 1px solid #4a56e2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn1 {
    margin: 0;
    width: 300px;
    height: 50px;
  }
}

.error {
  position: absolute;
  font-size: 12px;
  color: #ff6596;
  font-weight: 500;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
@media screen and (min-width: 768px) {
  .error {
    font-size: 14px;
  }
}
