body {
  margin: 0;
  font-family: 'Circe', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
}

button {
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
p{
    margin: 0;
    }
