:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --placeholder-text-color: #bdbdbd;

  --error-text-color: #ff0000;

  --green-color: #24cca7;
  --blue-color: #4a56e2;
  --red-color: #ff6596;

  --primary-bg-color: #ffffff;
  --first-bg-color: #e7eaf2;
  --second-bg-color: #f1f2f7;

  --placeholder-icon-color: #e0e0e0;

  --modal-bg-color: tomato;
}
