.modalWrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transition: 0.5s;
  z-index: 2;
}
.modalWrapActive {
  opacity: 1;
  pointer-events: all;
}

.exitModal {
  padding: 20px 40px;
  margin: 0 20px;
  background-color: var(--secondary-text-color);
  width: fit-content;
  height: 200px;
  border-radius: 20px;
  border-color: transparent;
  z-index: 3;
  font-family: var(--secondary-font);
}

@media screen and (min-width: 360px) {
  .exitModal {
    padding: 40px 80px;
    font-size: 20px;
  }
}
