.title {
  display: none;
}

@media screen and (min-width: 768px) {
.wrapper{
  position: relative;
  background-color: var(--first-bg-color);
  background-image: url(../../imgs/Ellipse1_tabl.jpg), url(../../imgs/Ellipse2_tabl.jpg), url(../../imgs/pic_reg_tabl.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
      background-image: 
      url(../../imgs/Ellipse1_tabl@2x.jpg),
      url(../../imgs/Ellipse2_tabl@2x.jpg),
      url(../../imgs/pic_reg_tabl@2x.jpg);
      }
    
    background-repeat: no-repeat;
    background-position: bottom 0 left 0, top 0 right 0, top 60px left 114px;
  }

.title {
    position: absolute;
    top: 163px;
    right: 153px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: inline-block;
    color: var(--primary-text-color);
}


  @media screen and (min-width:1280px ) {
.wrapper{
  position: relative;
  background-color: var(--first-bg-color);

    background-image:
      url(../../imgs/Ellipse1_desk.jpg),
      url(../../imgs/Ellipse2_desk.jpg),url(../../imgs/pic_reg_desk.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
        background-image: url(../../imgs/Ellipse1_desk@2x.jpg),
          url(../../imgs/Ellipse2_desk@2x.jpg),
          url(../../imgs/pic_reg_desk@2x.jpg);
      }
    background-repeat: no-repeat;
    background-position: top 153px left 66px, bottom 0 left 0, top 0 right 0;
  }
}

.title{

    position: absolute;
    top: 597px;
    left: 200px;


/*@-webkit-keyframes pulsing {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}*/
}
}