.title {
  display: none;
}
 /* пересмотреть с формой   */

@media screen and (min-width: 768px) {
  
  .title {
    display: block; 
    font-size: 30px;
    font-family:'Poppins';
    color: var(--primary-text-color);
    }

  .box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    width: 540px;
    height: 250px;
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    background-size: contain;
    background-image:url('../../assets/images/pic_reg_tabl.png');
    background-repeat: no-repeat;
  }

.box.picture{
  background-size: contain;
  background-image: url('../../assets/images/pic_logo_tabl.png');
  background-repeat: no-repeat;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  
    .box {
      background-image: url('../../assets/images/pic_reg_tabl@2x.png');
    }
  
    .box.picture {
      background-image: url('../../assets/images/pic_logo_tabl@2x.png');
    }
  }
}

@media screen and (min-width:1280px ) {

  .box {
    flex-direction: column;
    width: 410px;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 0;

    /*исправить, когда будет форма между формой
    margin-right:140px;*/
    margin-left: 20px;
  
    background-size: contain;
    background-image: url('../../assets/images/pic_reg_desk.png');
  }

  .box.picture{
    background-size: contain;
    background-image: url('../../assets/images/pic_logo_desk.png');
    background-repeat: no-repeat;
  }

  /* c формой совместить*/
  
  .wrapper{
    display: flex;
   /* width: 1280px;*/
    align-items: center;
    
  }

  .ellipseBlur{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45%;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {

    .box {
      background-image: url('../../assets/images/pic_reg_desk@2x.png');
      }

    .box.picture {
      background-image: url('../../assets/images/pic_logo_desk@2x.png');
      }
    }
  };


