/*@media screen and (min-width: 768px) {
  .box .login_picture{
    background-image: url('../../assets/images/pic_logo_tabl.png');
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .box .login_picture{
    background-image: url('../../assets/images/pic_logo_desk.png');background-repeat: no-repeat;
  }
}*/

