table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}

thead th {
  background-color: #fff;
}
thead th:first-child {
  border-radius: 100px 0 0 100px;
}
thead th:last-child {
  border-radius: 0 100px 100px 0;
}
/** Border Fix. **/
table th {
  border: none !important;
}
table td {
  border: none !important;
}

.table_header {
  height: 58px;
}
.table_row {
  text-align: center;
  height: 85px;
}

.table_row:not(:last-child)::after {
  width: 100%;
  content: '';
  border: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);

  transform: rotate(-90deg);
}
