.btn {
  border-radius: 50%;
  background-color: var(--green-color);
  width: 44px;
  height: 44px;
  color: var(--secondary-text-color);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.title {
  font-size: 24px;
  line-height: 45px;
}
.closeBtn {
  position: absolute;
  display: none;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
}
.btnWrap {
  width: 100%;
  margin: 0 auto;
}
.cancelBtn,
.acceptBtn {
  width: 100%;
  height: 50px;
  font-family: var(--primary-font);
  border-radius: 20px;
  display: block;
  padding: 13px 20px;
  box-sizing: border-box;
}
.acceptBtn {
  background: var(--green-color);
  border: none;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.cancelBtn {
  background: var(--secondary-text-color);
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}

.checkboxWrap {
  width: 220px;
  margin: 20px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkboxWrap .incomes,
.checkboxWrap .outcomes {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--placeholder-icon-color);
  position: relative;
  left: -20px;
}
.checkboxWrap .outcomes {
  left: 25px;
}
.checkboxWrap .incomesActive {
  color: var(--green-color);
}
.checkboxWrap .outcomesActive {
  color: var(--red-color);
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 80px;
  height: 40px;
  border: 1px solid var(--placeholder-icon-color);
  border-radius: 30px;
}
.button.r,
.button.r .layer {
  border-radius: 100px;
}
.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}
.layer {
  width: 100%;
  transition: 0.3s ease all;
  z-index: 1;
}
.knobs:before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  top: -4px;
  left: 42px;
  background-color: var(--red-color);
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.knobsTransactions:before {
  background-image: url('../../assets/images/icons/outcomes.svg');
}
.checkbox:checked + .knobs:before {
  content: '';
  left: -4px;
  background-color: var(--green-color);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}
.checkbox:checked + .knobsTransactions:before {
  background-image: url('../../assets/images/icons/+.svg');
}
.knobs,
.knobs:before,
.layer {
  transition: 0.5s ease all;
}

.sumAndDateWrap {
  width: 100%;
  margin: 30px auto;
}
.sumInput {
  color: var(--primary-text-color);
}
.sumInput[placeholder] {
  width: 100%;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
}
.datetime {
  width: 100%;
  top: 2px;
}
.datetime input {
  width: 100%;
  line-height: 0;
  padding: 0px 10px;
  background-image: url('../../assets/images/icons/data.svg');
  background-repeat: no-repeat;
  background-position: 94% 2px;
  font-weight: 400;
}
.commentInput {
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 30px;
  font-weight: 400;
  color: var(--primary-text-color);
}
.newCategory {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 10px;
}
.newCategory[placeholder] {
  text-align: left;
}
.newCategoryBtn {
  position: absolute;
  width: 24px;
  margin-left: -30px;
  height: 24px;
  background: var(--green-color);
  border-radius: 50%;
  border: transparent;
  background-image: url('../../assets/images/icons/+.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

@media screen and (min-width: 480px) {
  .closeBtn {
    display: flex;
  }
  .title {
    font-size: 30px;
  }
  .sumAndDateWrap {
    width: 380px;
    display: flex;
    justify-content: space-between;
  }
  .sumInput[placeholder],
  .datetime {
    width: 170px;
  }
  .sumInput[placeholder] {
    margin-bottom: 0;
  }
  .btnWrap {
    width: 300px;
  }
}
