:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --placeholder-text-color: #BDBDBD;

  --error-text-color:#ff0000;

  --green-color: #24CCA7;
  --blue-color: #4A56E2;
  --red-color: #FF6596;

  --primary-bg-color: #ffffff;
  --first-bg-color:#E7EAF2;
  --second-bg-color:  #F1F2F7;

  --placeholder-icon-color:#E0E0E0;

  --modal-bg-color:tomato;
}