.list {
  display: flex;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 32px;
}

.icon {
  width: 44px;
  height: 44px;
  fill: #6e78e8;
}

.link.active > .icon {
  box-shadow: 0 0 7px 2px rgba(74, 86, 226, 0.5);
  border-radius: 7px;
  fill: var(--blue-color);
}

.linkText {
  display: none;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .item:nth-child(3) {
    display: none;
  }

  .linkText {
    display: inline-block;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
  }

  .link.active > .linkText {
    font-weight: 700;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }

  .link {
    display: flex;
    align-items: center;
  }

  .item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
}
